<div id="top-company-info" class="container">   
    <div id="company-header">
        <h3> <%= company.name %> </h3>
        <!--Badge-->
    </div>

    <br />

    <div id="company-details" class="company-details-container mb-5">
        <span class="row company-details">
            <span class="company-details-heading col-2">
                phone
            </span>
            <span class="company-details-text col-10">
                <%= company.phone %>
            </span>
        </span>

        <hr />

        <div class="company-details row">
            <span class="company-details-heading col-2">
                email
            </span>
            <span class="company-details-text col-10">
                n/a
            </span>
        </div>

        <hr />

        <div class="company-details row">
            <span class="company-details-heading col-2">
                contacts
            </span>
            <span class="company-details-text col-10">
                n/a
            </span>
        </div>
        
    </div>
</div>