<% if user_signed_in? and !current_page?(controller:"home", action:"index")%>
    <% if content_for? :page_links%>
        <div class="" id="">
            <div class="">
                <%= yield :page_links %>
            </div>
        </div>
    <% end %>
<% end %>