<%= f.collection_radio_buttons :company_id, current_user.companys.all, :id, :name do |box| %>
    <div class="card card-body mb-3">
        <div class="clearfix">
            <span class="float-left"><%= box.label %></span>
            <span class="float-right"><%= box.radio_button %></span>
        </div>
    </div>
<% end %>