<div class="card card-body mb-3">
    <div class="clearfix">
        <span class="float-left"><%= contact.name %></span>
        <span class="float-right"><%= link_to "View", contact_url(contact)%></span>
    </div>
</div>