<div class="my-2">
    <%= link_to contact do %>
        <strong class="text-dark"> <%= contact.name %></strong>
        <% if contact.company %>
            <small class="ml-2 text-secondary"><%= contact.company.name %></small>
        <%end%>
    <%end%>
</div>