<div id="contact-index-wrapper" class="row">
    <div class="col-lg px-5 py-4">
        <div class="mb-3">
            <%= form_tag contacts_path, method: :get do %>
                <div class="form-group">
                    <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm", :placeholder=>"Search for a contact"%>
                </div>
            <% end %>
        </div>
        <%= render @contacts %>
    </div>

    <div id="contact-info-col" class="col-lg-7 border-left px-5 pt-5">
        <%= render partial: "contacts/index/contact", collection: @contacts, as: :contact%>
    </div>
</div>


<script>
    $(".contact-info").hide()

    $(".contact-link").click(function(event){
        current_contact = event.target.id

        style_contact_link(current_contact)
        toggle_contact_info(current_contact)

        remove_active_tabs(current_contact)
        make_first_tab_active(current_contact)

        hide_all_tab_content(current_contact)
        show_first_tab_content(current_contact)
    });

    style_contact_link = function(t){
        $(".contact-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }

    $(".contact-info-nav-link").click(function(event){
        $(".contact-info-nav-link").removeClass("active")
        $(`#${event.target.id}`).addClass("active")
        $(".tab-pane").hide()
        $(`#${event.target.id}-content`).show()
    })

    toggle_contact_info = function(t){
        $(".contact-info").hide()
        $(`#${event.target.id}-info`).show()
    }
    remove_active_tabs = function(id){
        $(`.contact-${id}-tab-link`).removeClass("active")
    }
    make_first_tab_active = function(id){
        $(`#contact-${id}-tabs`).find("a:first").addClass("active")
    }
    hide_all_tab_content = function(){
        $(".tab-pane").hide()
    }
    show_first_tab_content = function(id){
        $(`#contact-${id}-activity-tab-content`).show()
    }
</script>