<div class="container">
    <div class="clearfix">
        <div class="float-left">
            <h3> Contacts </h3>
        </div>
        <div class="float-right">
            <%= link_to "New Contact", new_contact_url %>
        </div>
    </div>
    <hr />

    <div id="search" class="mb-5 mt-4">
        <%= render "search.html.erb"%>
    </div>

    <div id="contacts">
        <%= render @contacts%>
    </div>
</div>