<div class="container">
    <h3> <%= @contact.name %> </h3>
    <hr />
</div>

<div class="container">
    <p> <%= @contact.phone %> </p>
    <p> <%= @contact.email %></p>
</div>
<div class="container">
    <%= link_to "Delete", contact_url(@contact), method: :delete %>
</div>