<div id="deal-index-wrapper" class="row">
    <div class="col-lg px-5 py-4">
        <div class="mb-3">
            <%= form_tag deals_path, method: :get do %>
                <div class="form-group">
                    <%= text_field_tag :search, params[:search], :class=>"form-control form-control-sm", :placeholder=>"Search for a deal"%>
                </div>
            <% end %>
        </div>
        <%= render @deals %>
    </div>

    <div id="contact-info-col" class="col-lg-7 border-left px-5 pt-5">
        <%= render partial: "deals/index/deal", collection: @deals, as: :deal%>
    </div>
</div>

<script>
    $(".deal-info").hide()

    $(".deal-link").click(function(event){
        current_deal = event.target.id

        style_deal_link(current_deal)
        toggle_deal_info(current_deal)

        remove_active_tabs(current_deal)
        make_first_tab_active(current_deal)

        hide_all_tab_content(current_deal)
        show_first_tab_content(current_deal)
    });

    style_deal_link = function(t){
        $(".deal-link").removeClass("text-secondary")
        $(`#${t}`).removeClass("text-dark")
        $(`#${t}`).addClass("text-secondary")
    }

    $(".deal-info-nav-link").click(function(event){
        $(".deal-info-nav-link").removeClass("active")
        $(`#${event.target.id}`).addClass("active")
        $(".tab-pane").hide()
        $(`#${event.target.id}-content`).show()
    })

    toggle_deal_info = function(t){
        $(".deal-info").hide()
        $(`#${event.target.id}-info`).show()
    }
    remove_active_tabs = function(id){
        $(`.deal-${id}-tab-link`).removeClass("active")
    }
    make_first_tab_active = function(id){
        $(`#deal-${id}-tabs`).find("a:first").addClass("active")
    }
    hide_all_tab_content = function(){
        $(".tab-pane").hide()
    }
    show_first_tab_content = function(id){
        $(`#deal-${id}-activity-tab-content`).show()
    }
</script>