<div class="container">
    <h3> Deal</h3>
    <hr />

    <p class="lead"><%= @deal.title%></p>
    <p> <%= @deal.description %></p>

    <div class="clearfix mt-5">
        <span class="float-left"><%= link_to "Edit", edit_deal_url(@deal), :class=>"text-secondary"%></span>
        <span class="float-left ml-3"><%= link_to "Delete", deal_url(@deal), method: :delete, :class=>"text-secondary" %></span>
    </div>
</div>