<div class="container p-5">
    <h3> Edit Touchpoint </h3>
    <hr />
    <%= form_for [@contact, @touchpoint] do |f| %>
        <%= f.text_area :description, :class=>"form form-control", :placeholder=>"Description" %>
        <br />
        <%= f.submit "Save", :class=>"btn btn-primary"%>
    <% end %>
</div>