<div class="container p-5">
    <h3> Touchpoint</h3>
    <hr />

    <p class="lead"><%= @touchpoint.contact.name%></p>
    <p> <%= @touchpoint.description %></p>

    <!-- LINKS -->
    <div class="clearfix mt-5">
        <span class="float-left"><%= link_to "Edit", edit_contact_touchpoint_path([@contact, @touchpoint]), :class=>"text-secondary"%></span>
        <span class="float-left ml-3"><%= link_to "Delete", contact_touchpoint_path([@contact, @touchpoint]), method: :delete, :class=>"text-secondary" %></span>
    </div>
</div>