/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
}

/* FONTS */
h1 {
    font-size: 29px !important;
    font-weight: 300 !important;
    text-rendering: optimizeLegibility !important;
}
h2{
    font-size: 29px !important;
    font-weight: 300 !important;
    text-rendering: optimizeLegibility !important;
}
h3{
    font-size: 24px !important;
    font-weight: 300 !important;
    text-rendering: optimizeLegibility !important;
}
h4{
    font-size: 21px !important;
    font-weight: 600 !important;
    text-rendering: optimizeLegibility !important;
}
p{
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    line-height: 1.2 !important;
    color: #333333;
}
a{
    font-size: 15px !important;
    font-weight: 400 !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    text-rendering: optimizeLegibility !important;
}

// Navbar
.nav-link{
    color: rgba(0, 0, 0, 0.5);

}

#navbar .navbar-heading{
    padding: 0.875rem 1.89rem;
    font-size: 1.2rem;
}

#navbar{
    height: 3.55em;
}

// Main Layout
#main{
    width:100vw;
    position: absolute;
}

#top{
    z-index: 1;
}

#mid{

}

#side{
    position: absolute;
    left: 0;
    width: 12em;
    height: 100vh;
    overflow-y: hidden;
    z-index: 1;
    padding-top: 1em;
    
    .sidebar-item {
        display:block;
        padding-top: .6em;
        padding-bottom: .6em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}
#content{
    position: absolute;
    margin-left: 12em;
    width: calc(100vw - 12em);
    overflow-x: hidden;
}

#contact-info-col{
    height: 100vh;
}

#company-info-col{
    height: 100vh;
}
#deal-info-col{
    height: 100vh;
}




// ???? extra ????
.flex-fixed-width-item {
    flex: 0 0 100px;
}

#sidebar-wrapper .list-group {
    // width: 12rem;
}

#page-content-wrapper {
    // min-width: 100vw;
}

#main-wrapper.toggled #sidebar-wrapper {
    //margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        //margin-left: 0;
    }

    #page-content-wrapper {
        //min-width: 0;
        //width: 100%;
    }

    #main-wrapper.toggled #sidebar-wrapper {
        //margin-left: -15rem;
    }
}

#sidebar-wrapper{
    //min-height: 100vh;
    //margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}