<div id="top-deal-info">   
    <div id="deal-header">
        <h3> <%= deal.title %> </h3>
        <!--Badge-->
    </div>

    <br />

    <div id="deal-details" class="deal-details-container">
        <span class="clearfix deal-details">
            <span class="deal-details-heading float-left">
                phone
            </span>
            <span class="deal-details-text float-right">
                n/a
            </span>
        </span>

        <hr />

        <div class="deal-details clearfix">
            <span class="deal-details-heading float-left">
                email
            </span>
            <span class="deal-details-text float-right">
                n/a
            </span>
        </div>

        <hr />

        <div class="deal-details clearfix">
            <span class="deal-details-heading float-left">
                contacts
            </span>
            <span class="deal-details-text float-right">
                n/a
            </span>
        </div>
        
    </div>
</div>