<div class="deal-footer">
    <div class="deal-add">
        <%= link_to "+", new_deal_url, :class=>"btn-sm btn-light" %>
    </div>

    <div class="deal-links">
        <%= link_to "Edit", edit_deal_url(deal), :class=>"mr-3 deal-info-link" %>
        <%= link_to "Delete", deal_url(deal), method: :delete, :class=>"deal-info-link"%>
    </div>
</div>